<p class="intro-text">Graag willen wij iedereen zo goed mogelijk bedienen bij het inzichtelijk maken van de financiële voordelen van Kinderopvangtoeslag. U kunt ons hierbij helpen door aan te geven welk type resultaten u het beste vindt.</p>
<p><img src="intro.png"></p>
<p><a class="call-to-action" href="/test">starten</a></p>
