<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Preferences Test</title>
    </head>
    <body>
        <h1>Preferences Test</h1>
        <ul class="choices">
            <li><a href="#">first choice</a></li>
            <li><a href="#">second choice</a></li>
        </ul>
    </body>
</html>
