<p class="intro-text">Graag willen wij iedereen zo goed mogelijk bedienen bij het inzichtelijk maken van de financiële voordelen van de kinderopvangtoeslag. U kunt ons hierbij helpen door aan te geven welk type resultaat u het beste vindt.</p>
<p>Hieronder vindt u de homepage, wanneer bezoekers het bijbehorende formulier invullen worden ze doorgestuurd naar de resultatenpagina.</p>
<p><img src="intro.png"></p>
<p><a class="call-to-action" href="/test">starten</a></p>
