<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Preferences Test</title>
    </head>
    <body>
        <h1>Preferences Test</h1>
        <form action="/test" method="POST">
            <label><input type="radio" name="value" value="first" checked>First choice</label><br>
            <label><input type="radio" name="value" value="second">Second choice</label><br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>
