<form class="questionaire" action="/test" method="POST">
    <input type="hidden" class="questionaire-value" name="value" value="" />
    <ul class="clearfix preferences">
        <li><a class="preference" data-value="option-a" href="#"><img src="option-a.png" width="400"></a></li>
        <li><a class="preference" data-value="option-b" href="#"><img src="option-b.png" width="400"></a></li>
    </ul>
</form>


